@model HumanResources.Models.Entities.Concrete.Idea

@{
    ViewData["Title"] = "Görüş Detay";
}

<h1>Görüş Detay Sayfası</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="UpdateIdea" asp-route-id="@Model.Id">Güncelle</a> |
    <a asp-action="MyIdeas">Görüşlerim Sayfasına Dön</a>
</div>
