@model IEnumerable<HumanResources.Models.Entities.Concrete.User>

@{
    ViewData["Title"] = "Personeller";
}

<h1>Personeller</h1>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HireDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdentityNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.ImageURL != null)
                    {
                        <img src="~/@item.ImageURL" height="50" width="50" class="rounded-circle" />
                    }
                    else
                    {
                        <img src="~/Images/UserImages/default.png" height="50" width="50" class="rounded-circle" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @item.HireDate.ToLongDateString()
                    </td>
                    <td>
                        @item.BirthDate?.ToLongDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentityNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>*@
                <td>
                    <a asp-action="UpdateEmployee" asp-route-id="@item.Id"><i class="fas fa-edit text-primary"></i></a>&nbsp;
                </td>
            </tr>
        }
    </tbody>
</table>
