@model HumanResources.Models.Entities.Concrete.User

@{
    ViewData["Title"] = "Şifre Yenile";
}

<h1>Şifre Yenileme Sayfası</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }
    <form asp-action="PasswordRefresh">

        <div class="form-group">
            <label class="control-label">Mevcut Şifreniz:</label>
            <div class="input-group mb-3" id="oldPwd">
                <input name="oldPassword" id="oldPassword" class="form-control" type="password" />
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><i class="fas fa-eye-slash icon"></i></span>
                </div>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label class="control-label">Yeni Şifre:</label>
            <div class="input-group mb-3" id="newPwd">
                <input id="newPassword" name="newPassword" class="form-control" type="password" />
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><i class="fas fa-eye-slash icon"></i></span>
                </div>
            </div>

            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label class="control-label">Yeni Şifre Tekrar:</label>
            <div class="input-group mb-3" id="newPwdAgain">
                <input id="newPasswordAgain" class="form-control" oninput="passwordChange()" type="password" />
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><i class="fas fa-eye-slash icon"></i></span>
                </div>
            </div>

            <span id="newAgainPasswordMessage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Kaydet" class="btn btn-success" id="saveBtn" />
        </div>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    var oldPassword = "";
    var newPassword = "";
    var newPasswordAgain = "";

    $(document).ready(function () {
        oldPassword = $('#oldPassword').val();
        newPassword = $('#newPassword').val();
        newPasswordAgain = $('#newPasswordAgain').val();

        if (oldPassword == "" || newPassword == "" || newPasswordAgain == "") {
            $('#saveBtn').prop('disabled', true);
        }
        else {
            $('#saveBtn').prop('disabled', false);
        }



        $('#oldPwd .fa-eye-slash').click(function () {
            //Change the attribute to text<i class="fas fa-low-vision"></i>
            $('#oldPassword').attr('type', 'text');
            $('#oldPwd .icon').removeClass('fa-eye-slash').addClass('fa-low-vision');
        });

        $('#oldPwd .fa-low-vision').click(function (){
            console.log("deneme");
            $('#oldPassword').attr('type', 'password');
            $('#oldPwd .icon').removeClass('fa-low-vision').addClass('fa-eye-slash');
        });

        $('#newPwd .fa-eye-slash').click(function () {
            //Change the attribute to text
            $('#newPassword').attr('type', 'text');
            $('#newPwd .icon').removeClass('fas fa-eye-slash').addClass('fas fa-eye');
        });

        $('#newPwd .fa-eye').click(function () {
            $('#newPassword').attr('type', 'password');
            $('#newPwd .icon').removeClass('fas fa-eye').addClass('fas fa-eye-slash');
        });

        $('#newPwdAgain .fa-eye-slash').click(function () {
            //Change the attribute to text
            $('#newPasswordAgain').attr('type', 'text');
            $('#newPwdAgain .icon').removeClass('fas fa-eye-slash').addClass('fas fa-eye');
        });

        $('#newPwdAgain .fa-eye').click(function () {
            $('#newPasswordAgain').attr('type', 'password');
            $('#newPwdAgain .icon').removeClass('fas fa-eye').addClass('fas fa-eye-slash');
        });

    });

    function passwordChange() {
        newPassword = $('#newPassword').val();
        newPasswordAgain = $('#newPasswordAgain').val();


        if (newPassword != newPasswordAgain) {
            $('#saveBtn').prop("disabled", true);
            $('#newAgainPasswordMessage').text("Şifreler Uyuşmuyor");
        }
        else {
            $('#saveBtn').prop("disabled", false);
            $('#newAgainPasswordMessage').text("");
        }
    }


</script>
